<div class='minimap' style="background-image:url('{{model._path}}')">
   {{#each buttons}}
     <button class="minimap-button" data-id="{{_id}}" style="top:{{_position._top}}%; left:{{_position._left}}%;"><div class="minimap-button-icon icon icon-pin"/></button>
   {{/each}}
</div>
